{% extends "base.html" %}
{% load static %}
{% block title %}Update Basic Profile {% endblock %}
{% block content %}
      {% if messages %}
   <div class="center-align">
       {% for message in messages %}
           <h5>{{ message }}</h5>
       {% endfor %}
   </div>
   {% endif %}
   {% if basic_form.errors %}
       {% for field in basic_form %}
           {% for error in field.errors %}
                 <div class="center-align">
                   <h5>{{error|escape}}<h5>
                 </div>
           {% endfor %}
       {% endfor %}
       {% for error in basic_form.non_field_errors %}
       <div class="center-align">
         <h5>{{error|escape}}<h5>
       </div>
       {% endfor %}
   {% endif %}

   <div class=" row container center-align" style="margin:auto;">
   <form class="basic_form col s12 offset-s4" method="POST" name="basic_form" enctype="multipart/form-data" action="{% url 'Employer:edit_company' company_name=company_name %}">
       {% csrf_token %}

         <div class="row">
                 <div class="input-field col s8 m4 ">
                     <label for="id_company_logo"><span>Company Logo</span>{{basic_form.company_logo}}</label>
                 </div>
         </div>
          <div class="row">
                 <div class="input-field col s8 m4 ">
                     <label for="id_company_description"><span>Company Description</span>{{basic_form.company_description}}</label>
                 </div>
         </div>
       <div class="row">
           <div class="input-field col s4">
               <button class="btn waves-effect waves-light" type="submit" name="submit">Submit</button>
           </div>
       </div>
   </form>
   </div>

{% endblock %}