{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %} My Jobs {% endblock %}
{% block content %}
    {% for job_post in final_list %}
        <div>
            {{job_post.0.job_title}} and the skills are {% if job_post.1 %} {% for skill in job_post.1 %} {{skill}},{% endfor %}{% else %} there are no skills {% endif %}
        </div>
    {% endfor %}


<div class="row">
  <ul class="pagination">
      {% if final_list.has_previous %}
        <li class="disabled"><a href="?page=1"><i class="material-icons" style="cursor:pointer;">first_page</i></a></li>
        <li class="disabled"><a href="?page={{final_list.previous_page_number}}"><i class="material-icons" style="cursor:pointer;">chevron_left</i></a></li>
      {% endif %}
      {% for num in final_list.paginator.page_range %}
        {% if final_list.number == num %}
                <li class="active"><a href="?page={{num}}">{{num}}</a></li>
        {% elif num > final_list.number|add:'-3' and num < final_list.number|add:'3' %}
                    <li class="waves-effect"><a href="?page={{num}}">{{num}}</a></li>
        {% endif %}
      {% endfor %}

      {% if final_list.has_next %}
      <li class="disabled "><a href="?page={{final_list.next_page_number}}"><i class="material-icons" style="cursor:pointer;">chevron_right</i></a></li>
        <li class="disabled"><a href="?page={{final_list.paginator.num_pages}}"><i class="material-icons" style="cursor:pointer;">last_page</i></a></li>
      {% endif %}

  </ul>
    </div>
{% endblock %}