.errorlist {
  visibility: hidden;
  display: none; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fafafa; }

.navbar-fixed nav {
  width: 99%; }

.nav-wrapper {
  background-color: #37474f; }

.navbar-fixed {
  top: 0px; }

@media screen and (min-width: 1400px) {
  .brand-logo {
    margin-left: 10rem; }
  .navbar_items {
    margin-right: 10rem !important; } }

#id_current_city {
  display: inline-block; }

#id_user_type_name_0, #id_user_type_name_1 {
  opacity: 1; }

.city-column {
  margin-top: -3rem;
  margin-bottom: 1rem; }

.page-footer {
  width: 100%;
  background-color: #37474f; }

.content {
  min-height: 60vh;
  overflow: hidden;
  position: relative; }

.footer {
  bottom: 0px; }

.login_form {
  margin-top: 7rem !important; }

.margin_top_7 {
  margin-top: 7rem; }

#id_job_type_name {
  display: inline-block; }

#id_highest_education {
  display: inline-block; }

#id_degree_type {
  display: inline-block; }

#id_degree_name {
  display: inline-block; }

#id_job_location_city {
  display: inline-block; }

#id_job_type {
  display: inline-block; }

#id_job_length {
  display: inline-block; }

#id_city {
  display: inline-block; }

.basic_form > * {
  margin-bottom: 5rem; }

.img-responsive {
  max-width: 100%;
  height: auto;
  object-fit: cover; }

.capitalize {
  text-transform: capitalize; }

.heading {
  text-transform: capitalize;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #37474f, #37474f);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading:hover {
    transform: skewY(1deg) skewX(7deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-secondary {
  text-transform: capitalize;
  font-weight: 400;
  display: inline-block;
  background-image: linear-gradient(to right, #37474f, #37474f);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .1rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(1deg) skewX(7deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.margin_top_1 {
  margin-top: 1rem; }

.z_index {
  z-index: 1000 !important; }

.btn-floating_1 {
  transform: translateY(-55%); }

.hover:hover {
  transition: all .2s;
  transform: scale(1.05); }

#id_job_description {
  height: 30vh; }

.job_description {
  height: 30vh; }

.employer_view_jobs_background {
  min-height: 20vh;
  width: 100%;
  background-color: #80d8ff;
  color: white;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  padding: 1rem; }

.employer_view_jobs_container {
  position: relative;
  min-height: inherit;
  transform: translateY(-10vh); }
  .employer_view_jobs_container_item {
    border-radius: 5px;
    min-height: 30vh;
    background-color: #fdfdfd; }
    .employer_view_jobs_container_item_title {
      font-size: 1.2rem;
      font-weight: 600;
      padding-top: 1rem;
      padding-left: 1rem;
      height: 4vh; }
    .employer_view_jobs_container_item_company_name {
      font-size: 1rem;
      font-weight: 400;
      height: 4.5vh;
      padding-left: 1rem;
      margin-bottom: -0.02rem; }
    .employer_view_jobs_container_item_skills ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-left: 1rem;
      flex-wrap: wrap; }
    .employer_view_jobs_container_item_skills ul > li {
      margin-right: 0.7rem;
      border: 1px solid #969696;
      border-radius: 50%;
      padding: 0.2rem 0.3rem;
      font-size: 0.9rem; }
  .employer_view_jobs_container_pagination {
    margin-top: 1rem;
    width: 100%;
    min-height: 5vh; }

@media (max-width: 500px) {
  .employer_view_jobs_background {
    height: 15vh; }
  .employer_view_jobs_container_item {
    min-height: 25vh; } }

.pagination li.active {
  background-color: #80d8ff;
  color: white; }

.jobseeker_index_searchbar_background {
  height: 35vh;
  background-image: linear-gradient(90deg, #38a745 0%, #4cce5b 63%); }

.jobseeker_index_searchbar_form {
  height: 6vh; }
  .jobseeker_index_searchbar_form_input {
    height: inherit; }
    .jobseeker_index_searchbar_form_input:focus {
      outline: none; }
    .jobseeker_index_searchbar_form_input::placeholder {
      color: grey; }
  .jobseeker_index_searchbar_form_button {
    height: inherit;
    font-family: lato;
    text-transform: capitalize;
    font-size: 1.3rem; }

@media (max-width: 800px) {
  .jobseeker_index_searchbar_background {
    height: 30vh;
    background-image: linear-gradient(90deg, #38a745 0%, #4cce5b 63%); }
  .jobseeker_index_searchbar_form {
    height: 4vh; }
    .jobseeker_index_searchbar_form_input {
      height: inherit; } }
