.errorlist {
  visibility: hidden;
  display: none; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.5; }

.navbar-fixed nav {
  width: 99%; }

.nav-wrapper {
  background-color: #455a64; }

.navbar-fixed {
  top: 0px; }

.brand-logo {
  margin-left: 2rem; }

#id_current_city {
  display: inline-block; }

#id_user_type_name_0, #id_user_type_name_1 {
  opacity: 1; }

.city-column {
  margin-top: -3rem;
  margin-bottom: 1rem; }

.page-footer {
  width: 100%;
  background-color: #455a64; }

.content {
  min-height: 100vh;
  overflow: hidden;
  position: relative; }

.footer {
  bottom: 0px; }

.login_form {
  margin-top: 7rem !important; }

.margin_top_7 {
  margin-top: 7rem; }

#id_job_type_name {
  display: inline-block; }

#id_highest_education {
  display: inline-block; }

#id_degree_type {
  display: inline-block; }

#id_degree_name {
  display: inline-block; }

.basic_form > * {
  margin-bottom: 5rem; }

.img-responsive {
  max-width: 100%;
  height: auto;
  object-fit: cover; }

.capitalize {
  text-transform: capitalize; }

.heading {
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #455a64, #455a64);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading:hover {
    transform: skewY(1deg) skewX(7deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-secondary {
  text-transform: capitalize;
  font-weight: 400;
  display: inline-block;
  background-image: linear-gradient(to right, #455a64, #455a64);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .1rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(1deg) skewX(7deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.margin_top_1 {
  margin-top: 1rem; }

.z_index {
  z-index: 1000 !important; }

.btn-floating_1 {
  transform: translateY(-55%); }

.hover:hover {
  transition: all .2s;
  transform: scale(1.05); }
