{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %} Profile {% endblock %}
{% block content %}
    {% if need_update %}
    <div class="container align-center margin_top_7">
        <div>
            <h3 class="flow-text ">It seems you have not built your Profile</h3>
        </div>
        <div style="margin-top:2rem;">
            <a href="{% url 'Jobseeker:jobseeker_update_profile_basic' %}" class="waves-effect waves-light btn pulse center-align  "><i class="material-icons left">build</i>Build My Profile</a>
        </div>
    </div>
    {% else %}
    <div class="container">
        <div class="row">
            <h3 class="heading left-align flow-text col s12">This is how your profile appears to employers</h3>
       </div>
        <div class="row">
            <div class="col s12 m6 l4">
              <div class="card large">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator img-responsiv" src="{{jobseeker_basic.profile_picture.url}}">
                    <a href="{% url 'Jobseeker:jobseeker_update_profile_basic' %}"  class="btn-floating btn-floating_1 halfway-fab waves-effect waves-light red tooltipped" data-position="right" data-tooltip="edit basic details"><i class="material-icons">edit</i></a>
                </div>

                <div class="card-content">
                  <span class="card-title activator capitalize grey-text text-darken-4">{{user_type.user.first_name}}&nbsp;{{user_type.user.last_name}}<i class="material-icons right">more_vert</i></span>
                  <p><a href="#">View Full Profile</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title capitalize grey-text text-darken-4">{{user_type.user.first_name}}&nbsp;{{user_type.user.last_name}}<i class="material-icons right">close</i></span>
                  <div>
                      <p class="margin_top_1"><b>Description:</b><br>{{jobseeker_basic.description}}</p>
                      <p class="margin_top_1"><b>Highest Education:</b><br>{{jobseeker_basic.highest_education}}</p>
                      <p class="margin_top_1"><b>Salary Expectations/Charges:</b><br>Rs.{{jobseeker_basic.salary_expectation | intcomma}}</p>
                      <p class="margin_top_1"><b>Phone number:</b>&nbsp;{{user_type.phone_number}}</p>
                      {% if user_type.user.email %}
                       <p class="margin_top_1"><b>Email:</b>&nbsp;&nbsp;<a href="mailto:{{user_type.user.email}}">{{user_type.user.email}}</a></p>
                      {% endif %}
                  </div>
                </div>
              </div>
            </div>

        </div>

<!--        for educational details-->
        <div class="row">
             <h3 class="heading left-align flow-text col s8">Your Educational Qualifications</h3>
            <a style="transform:translateY(50%);" href="{% url 'Jobseeker:education_crud' operation='new' id=0 %}"  class=" btn-floating  waves-effect waves-light red tooltipped" data-position="right" data-tooltip="Add New Education Details"><i class="material-icons">add</i></a>

        </div>
        <div class="row">
            {% if not jobseeker_education_objects %}
                 <h3 class="heading-secondary left-align flow-text col s12">You have not added any educational details</h3>
            {% else %}
                <div class="row">
                    {% for education in jobseeker_education_objects %}
                        <div class="hover col s12 m6">
                          <div class="card">
                            <div class="card-content">
                              <span class="card-title">{{education.degree_type}}&emsp;CGPA&nbsp;:&nbsp;{{education.cgpa}}&nbsp;/&nbsp;10</span>
                              <div>
                                  <p class="margin_top_1"><b>Course:</b>&emsp;{{education.degree_name}}</p><br>
                                  <p class="margin_top_1"><b>Institute:</b>&emsp;{{education.institute}}</p><br>
                                  <p class="margin_top_1"><b>Start Date:</b>&emsp;{{education.start_date}}</p><br>
                                  <p class="margin_top_1"><b>End Date:</b>&emsp;&nbsp;{{education.end_date}}</p>
                              </div>
                            </div>
                            <div class="card-action">
                              <a  class="waves-effect waves-light btn " href="{% url 'Jobseeker:education_crud' operation='edit' id=education.id  %}"><i class="material-icons left">edit</i>Edit</a> &emsp;
                              <a href="{% url 'Jobseeker:education_crud' operation='delete' id=education.id %}" class="waves-effect waves-light btn red lighten-1"><i class="material-icons left">delete</i>Delete</a>
                            </div>
                          </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
<!--        for jobseeker experience details-->
        <div class="row">
             <h3 class="heading left-align flow-text col s8">Your Experience Details</h3>
            <a style="transform:translateY(50%);" href="{% url 'Jobseeker:experience_crud' operation='new' id=0 %}"  class=" btn-floating  waves-effect waves-light red tooltipped" data-position="right" data-tooltip="Add New Experience Details"><i class="material-icons">add</i></a>
        </div>
        <div class="row">
            {% if not jobseeker_experience_objects %}
                 <h3 class="heading-secondary left-align flow-text col s12">You have not added any experience details (Fresher)</h3>
            {% else %}
                <div class="row">
                    {% for experience in jobseeker_experience_objects %}
                        <div class="hover col s12 m6">
                          <div class="card">
                            <div class="card-content">
                              <span class="card-title">{{experience.job_title}}&nbsp;at &nbsp;{{experience.company_name}}</span>
                              <div>
                                  <p class="margin_top_1"><b>Job location City:</b>&emsp;{{experience.job_location_city}}</p><br>
                                  <p class="margin_top_1"><b>Job Description:</b>&emsp;{{experience.job_description}}</p><br>
                                  <p class="margin_top_1"><b>Start Date:</b>&emsp;{{experience.start_date}}</p><br>
                                  <p class="margin_top_1"><b>End Date:</b>&emsp;&nbsp;{{experience.end_date}}</p>
                              </div>
                            </div>
                            <div class="card-action">
                              <a  class="waves-effect waves-light btn " href="{% url 'Jobseeker:experience_crud' operation='edit' id=experience.id  %}"><i class="material-icons left">edit</i>Edit</a> &emsp;
                              <a href="{% url 'Jobseeker:experience_crud' operation='delete' id=experience.id %}" class="waves-effect waves-light btn red lighten-1"><i class="material-icons left">delete</i>Delete</a>
                            </div>
                          </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
<!--        jobseeker skill set details-->
        <div class="row">
             <h3 class="heading left-align flow-text col s8">Your Skills</h3>
            <a style="transform:translateY(50%);" href="{% url 'Jobseeker:skill_set_crud' operation='new' id=0 %}"  class=" btn-floating  waves-effect waves-light red tooltipped" data-position="right" data-tooltip="Add Skill"><i class="material-icons">add</i></a>
        </div>
        <div class="row">
            {% if not jobseeker_skill_set_objects %}
                 <h3 class="heading-secondary left-align flow-text col s12">You have not added any Skills</h3>
            {% else %}
                <div class="row">
                    {% for skill_set in jobseeker_skill_set_objects %}
                        <div class="hover col s6 m3">
                          <div class="card">
                            <div class="card-content">
                              <span class="card-title">{{skill_set.skill_set_id.skill_set_name}}&nbsp;&emsp; &nbsp;{{skill_set.skill_level}}&nbsp;/&nbsp;10</span>
                            </div>
                            <div class="card-action">
                              <a href="{% url 'Jobseeker:skill_set_crud' operation='delete' id=skill_set.id %}" class="waves-effect waves-light btn red lighten-1"><i class="material-icons left">delete</i>Delete</a>
                            </div>
                          </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>


    </div>
    {% endif %}

{% endblock %}