{% extends "base.html" %}
{% load static %}
{% block title %}Update Basic Profile {% endblock %}
{% block content %}
      {% if messages %}
   <div class="center-align">
       {% for message in messages %}
           <h5>{{ message }}</h5>
       {% endfor %}
   </div>
   {% endif %}
   {% if basic_form.errors %}
       {% for field in basic_form %}
           {% for error in field.errors %}
                 <div class="center-align">
                   <h5>{{error|escape}}<h5>
                 </div>
           {% endfor %}
       {% endfor %}
       {% for error in basic_form.non_field_errors %}
       <div class="center-align">
         <h5>{{error|escape}}<h5>
       </div>
       {% endfor %}
   {% endif %}

   <div class=" row container center-align" style="margin:auto;">
   <form class="basic_form col s12 offset-s4" method="POST" name="basic_form" enctype="multipart/form-data" action="{% url 'Jobseeker:jobseeker_update_profile_basic' %}">
       {% csrf_token %}

         <div class="row">
                 <div class="input-field col s8 m4 ">
                     <label for="id_profile_picture"><span>Profile Picture</span>{{basic_form.profile_picture}}</label>
                 </div>
         </div>
          <div class="row">
                 <div class="input-field col s8 m4 ">
                     <label for="id_phone_number"><span>Phone Number</span>{{basic_form.phone_number}}</label>
                 </div>
         </div>
         <div class="row">
                 <div class="input-field col s8 m4 ">
                     <label  for="id_job_type_name"><span>Profession</span>  {{basic_form.job_type_name}}</label>
                 </div>
         </div>
         <div class="row">
                 <div class="input-field col s8 m4 ">
                     <label for="id_description"><span>Short Description</span> {{basic_form.description}}</label>

                 </div>
         </div>
         <div class="row">
                 <div class="input-field col s8 m4 ">
                     <label for="id_salary_expectation"><span>Salary Expectation Per Month</span>{{basic_form.salary_expectation}}</label>

                 </div>
         </div>
          <div class="row">
                 <div class="input-field col s8 m4 ">
                     <label  for="id_highest_education"><span>Highest Education</span> {{basic_form.highest_education}}</label>
                 </div>
         </div>
         <div class="row">
                 <div class="input-field col s8 m4 ">
                     <label for="id_resume"><span>Resume (optional)</span>{{basic_form.resume}}</label>

                 </div>
         </div>
       <div class="row">
           <div class="input-field col s4">
               <button class="btn waves-effect waves-light" type="submit" name="submit">Submit</button>
           </div>
       </div>
   </form>
   </div>


{% endblock %}